@font-face {
    font-family: 'Helvetica-9-Black';
    src: url('../fonts/Helv-9-Black.eot');
    src: url('../fonts/Helv-9-Black.eot') format('embedded-opentype'),
         url('../fonts/Helv-9-Black.woff2') format('woff2'),
         url('../fonts/Helv-9-Black.woff') format('woff'),
         url('../fonts/Helv-9-Black.ttf') format('truetype'),
         url('../fonts/Helv-9-Black.svg#Helvetica-9-Black') format('svg');
}
@font-face {
    font-family: 'Helvetica-8-Heavy';
    src: url('../fonts/helv-8-heavy.eot');
    src: url('../fonts/helv-8-heavy.eot') format('embedded-opentype'),
         url('../fonts/helv-8-heavy.woff2') format('woff2'),
         url('../fonts/helv-8-heavy.woff') format('woff'),
         url('../fonts/helv-8-heavy.ttf') format('truetype'),
         url('../fonts/helv-8-heavy.svg#Helvetica8Heavy') format('svg');
}

@font-face {
  font-family: 'Helvetica-6-Medium';
  src: url('../fonts/Helvetica-6-Medium.eot?') format('eot'), 
       url('../fonts/Helvetica-6-Medium.woff') format('woff'), 
       url('../fonts/Helvetica-6-Medium.ttf')  format('truetype'),
       url('../fonts/Helvetica-6-Medium.svg#Helvetica-6-Medium') format('svg');
}
@font-face {
  font-family: 'Helvetica-4-Light';
  src: url('../fonts/Helvetica-4-Light.eot?') format('eot'), 
       url('../fonts/Helvetica-4-Light.woff') format('woff'), 
       url('../fonts/Helvetica-4-Light.ttf')  format('truetype'),
       url('../fonts/Helvetica-4-Light.svg#Helvetica-4-Light') format('svg');
}
@font-face {
  font-family: 'Helvetica-3-Thin';
  src: url('../fonts/Helvetica-3-Thin.eot?') format('eot'), 
       url('../fonts/Helvetica-3-Thin.woff') format('woff'), 
       url('../fonts/Helvetica-3-Thin.ttf')  format('truetype'),
       url('../fonts/Helvetica-3-Thin.svg#Helvetica-3-Thin') format('svg');
}
@font-face {
  font-family: 'Alternan';
  src:url('../fonts/ALTERNAN.ttf')  format('truetype');
}
/*.container{min-width: 768px;}*/
.h2, .h3, .h4{
  font-family: 'Helvetica-6-Medium';
  text-transform: uppercase;
}
.h2{
  font-size: 21px;
  color:#231f20;
}
.h3{
  font-size: 17px;
  color:#fff;
  margin-top: 27px;
  margin-bottom: 21px;
}
.h4{
  font-size: 17px;
  color:#231f20;
}
.bottom-red-line{
  position: relative;
}
.bottom-red-line:after{
  content: '';
  position: absolute;
  width: 50px;
  bottom:-12px;
  left:50%;
  margin-left: -25px;
  height: 2px;
  background: #da3039;
}
/* header */
.header {
  position: relative;
}
.low-header{
  position: fixed;
  width: 100%;
  z-index: 10000;/* more than bxslider's arrows */
}
.header .navbar{
  background-color:#020202;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.header .navbar .navbar-brand{
  position:relative;
  display: block;
  line-height: 25px;
  height: 33px;
  padding: 0px 0px;
  margin: 54px 0 8px 79px;/* total-height 95px; */
  font-family: 'Helvetica-6-Medium';
  font-size: 33px;
  color: #fff;
}
.header .navbar-brand:before{
  display: block;
  content: '';
  width: 54px;
  height: 54px;
  background: #da3039 url('../images/logo-webtrend.png') center center no-repeat;
  position: absolute;
  bottom: 33px;
  left: -64px;
}
.navbar-collapse{ 
  box-shadow:none;
  margin-top:0;
}
.header .navbar-nav>li>a{
  padding: 3px 0 3px 9px;
  margin: 0px 15px;
  font-size: 16px;
  color:#fff;
  font-family: 'Helvetica-6-Medium';
}
.header .navbar-nav>li>a:hover{
  color: #da3039;
}
.header .navbar-nav > li:first-of-type > a{
  margin-left: 15px;
}
.header .navbar-nav > li:last-of-type > a{
  margin-right: 15px;
}
.header .navbar-nav>li.active a{
  color: #da3039;
  border-left: 4px solid #da3039;
  padding: 3px 0 3px 5px;
}
.header .navbar-nav>li.active a:hover{
  color: #da3039;
  cursor: default;
}
.navbar-collapse.in{}

.low-header .navbar .navbar-brand{
  margin: 30px 0 8px 79px;
}
.low-header .navbar-collapse {
  margin-top: 0;
}
.low-header .navbar-brand:before{
  bottom: 9px;
}

/* top-slider */
.top-slider .jumbotron{
  text-align: center;
  background: transparent;
  padding: 117px 0 99px;
  margin-bottom: 0;
}
.slide-internet-magazin .white-h1{
  margin-top: 43px;
}
.slide-rekordsmeni .white-h1{
  margin-top: 43px;
}
.slide-rekordsmeni p {
  color: #fff;
}
.top-slider .tab-content>.tab-pane {/* разобраться с bootstrap */
  height: 714px; /* высота при ресайзе и разныз размерах окна */
}
#top-slider-1{
  /*background: url('../images/slide-1-full.jpg') center center no-repeat;*/
  background: url('../images/slide-1-skidka.jpg') center center no-repeat;
}
#top-slider-2{
  background:#da3039 url('../images/slide-2-full-transparent.png') center center no-repeat;
}
#top-slider-3{
  background: -webkit-linear-gradient(left, #000 0%, #000 49%, #ed0500 50%, #ed0500 100%)
}
.top-slider-3-ongradient{
  height: inherit;
  background: url('../images/slide-3-records.jpg') center center no-repeat;
}
#top-slider-4{
  background: #da3039;
}
.top-slider-4-ongradient{
  height: inherit;
  background: url('../images/slide-4.jpg') center center no-repeat,
              url('../images/slide-2-full-transparent.png') center center no-repeat;
}
.slide-startap{
  font-family: 'Helvetica-6-Medium';
  color: #fff;
}
.slide-startap .slide-title{
  margin: 8px 0 0;
  font-size: 77px;
  text-transform: uppercase;
}
.slide-startap .slide-4-text{
  font-size: 28px;
  height: 40px;
  line-height: 40px;
  overflow-y: hidden;
  margin-bottom: 42px;
}
.slide-startap .slide-4-desc{
  font-size: 39px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 42px;
}
.slide-startap .slide-4-desc:before{
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  background: #d31720;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  top: -19px;
}

.top-slider .jumbotron .h1{
  font-family: 'Helvetica-6-Medium';
  text-transform: uppercase;
  position: relative;
}
/*
.top-slider .jumbotron .h1:after{
  content: '';
  display: block;
  height: 2px;
  background: #d31720;
  margin: 22px auto 0;
  width: 50%;
}
*/
.top-slider .jumbotron .h1:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  background: #d31720;
  margin-top: 22px;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  bottom: 0;
}
.top-slider .jumbotron .white-h1:after{
  margin-top: 26px;
}
.h1.white-h1{
  font-size: 52px;
  height: 85px;
  line-height: 85px;
  overflow-y: hidden;
  color: #fff;
}
.h1.black-h1{
  font-size: 77px;
  height: 108px;
  line-height: 108px;
  overflow-y: hidden;
  color: #231f20;
}
.jumbotron .top-slider-text{
  margin-bottom: 64px;
  height: 90px;
  line-height: 30px;
  overflow-y: hidden;
}
.jumbotron .slider-description{
  font-family: 'Helvetica-4-Light';
  font-size: 21px;
  color:#fff;
  margin-bottom: 5px;
}
.jumbotron .price{
  font-family: 'Helvetica-6-Medium';
  font-size: 40px;
  color:#fff;
  margin-bottom: 38px;
}
.price-number{
  font-size: 57px;
}

.btn{
  border-radius: 0;
  font-family: 'Helvetica-4-Light';
  font-size: 14px;
  text-transform: uppercase;
  line-height: 47px;
}
.btn-white-red{/* кнопка с белой рамкой с разрывом красного цвета на слайдере */
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  border-top-width: 0;
  color:#fff;
}
.btn-white-red:before{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height:2px;
  background: -webkit-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -moz-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -ms-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -o-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
}
.btn-white-red:hover{
  background: #fff;
  color: #231f20;
}
.btn-white-red:hover:before{
  background: transparent;
}
.btn-white-black{/* кнопка с белой рамкой с разрывом красного цвета на слайдере */
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  border-top-width: 0;
  color:#fff;
}
.btn-white-black:before{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height:2px;
  background: -webkit-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #000 45%, #000 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -moz-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #000 45%, #000 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -ms-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #000 45%, #000 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -o-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #000 45%, #000 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
}
.btn-white-black:hover{
  background: #fff;
  color: #000;
}
.btn-white-black:hover:before {
  background: transparent;
}
.btn-black-red{/* кнопка с черной рамкой с разрывом красного цвета на слайдере */
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-top-width: 0;
  color:#000;
}
.btn-black-red:before{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height:2px;
  background: -webkit-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
  background: -moz-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
  background: -ms-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
  background: -o-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
}
.btn-black-red:hover{
  background: #da3039;
  color:#fff;
  border: 2px solid transparent;
  border-top-width: 0;
}
.btn-black-red:hover:before{
  background: transparent;
}
.btn-black-red:active{
  box-shadow: inset 0 3px 4px 1px rgba(0, 0, 0, 0.24);
}
.btn-172{
  padding: 0 42px;
}
.btn-244{
  padding: 0;
  width: 244px;
}
.to-send{
  padding: 0 79px;
}
.red-button{
  text-align: center;
  font-family: 'Helvetica-4-Light';
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
  background: #da3039;
}
.red-button:hover{
  color:#fff;
  text-decoration: none;
}
.red-button:active{
  box-shadow: inset 0 3px 4px 1px rgba(0, 0, 0, 0.24);
}
.red-button:visited{
  text-decoration: none;
}
.call-back{
  padding: 13px 27px;
  float: left;
}
.same-site-button .btn-244{
  width: 98px;
  overflow: hidden;
}

.slider-buttons .container{
  position: relative;
  padding: 0;
}
.slider-buttons .container:after{
  content: '';
  width: 100%;
  height: 137px;
  background: #fff;
  position: absolute;
  right: -100%;
  top:0;
}
.slider-buttons .container:before{
  content: '';
  width: 100%;
  height: 137px;
  background: #fff;
  position: absolute;
  left: -100%;
  top:0;
}
.slider-buttons{
  margin-top: -137px;/* что с ресайзом и разными размерами */
  height: 137px;
  overflow-x: hidden;
}
.slider-buttons ul{
  margin: 0;
}
.slider-buttons li{
  text-align: center;
  padding-top: 25px;
  height: 137px;
  background: #fff;
}
.slider-buttons li.active{
  background: transparent;
}
.slider-buttons li a{
  display: block;
  position: relative;
  font-family: 'Helvetica-6-Medium';
  font-size: 0;
  text-transform: uppercase;
  color: #231f20;
}
.tab-sale-icon:after{
  content:'%' !important;
  font-family: 'Helvetica-9-Black';
  font-size: 29px;
  color: #da3039;
  background: #fff;
}
.tab-shop-icon:after{
  background:#fff url('../images/tab-shop-icon.png') center center no-repeat;
}
.tab-records-icon:after{
  background:#fff url('../images/tab-records-icon.png') center center no-repeat;
}
.tab-leaders-icon:after{
  background:#fff url('../images/tab-leaders-icon.png') center center no-repeat;
}
.slider-buttons li a:before{
  position: absolute;
  width:50px;
  height: 2px;
  background: #da3039;
  top: 30px;
  left: 50%;
  margin-left: -25px;
}
.slider-buttons li a:after{
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #da3039;
  top: 21px;
  left: 50%;
  margin-left: -22px;
  border-radius: 22px;
}
.slider-buttons li.active a{
  color: #fff;
}
.slider-buttons li.active a:after{
  border-color:transparent;
}
.slider-buttons li.active a:before{
  background: #fff;
}

.company-stats ul{
  padding: 80px 0 63px;
  margin: 0;
}
.company-stats li{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #231f20;
  text-transform: uppercase;
  text-align: center;
}
.black-comma-outer{
  width: 68px;
  position: relative;
  background: #020202;
  border-radius: 34px;
  text-align: center;
  margin: 0 auto 15px;
}
.black-comma-outer:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 14px solid #020202;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 50%;
  top: 64px;
  margin-right: -7px;
  -webkit-transform:  rotate(90deg);
  -moz-transform:     rotate(90deg);
  -ms-transform:      rotate(90deg);
  -o-transform:       rotate(90deg);
  transform:          rotate(90deg);
  z-index: -1;
}
.black-comma{
  display: block;
  overflow: hidden;
  line-height: 68px;
  font-family: 'Helvetica-3-Thin';
  font-size: 30px;
  color:#fff;
}
/*.black-comma:after{
  content:'';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 14px solid #020202;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: -8px;
  top: 29px;
}*/
.stats-description{
  margin: 24px 0 0 0;
  word-break: break-all;
}

/* ------------------- */
.services{
  text-align:center;
  padding-top: 71px;
}
.services .panel-red-big{
  background:#da3039 url('../images/panel-uslugi-big.png') center center no-repeat;
}
.services .jumbotron{
  padding: 96px 0 135px;
  margin-bottom: 0;
  background-color: transparent;
}
.services .jumbotron .h1{
  font-family: 'Helvetica-4-Light';
  font-size: 50px;
  text-transform: uppercase;
  color:#fff;
  margin: 0;
}
.services .panel-preview{
  font-family: 'Helvetica-4-Light';
  font-size: 18px;
  color:#fff;
  margin: 12px 0 85px;
}
.panel-legend > .container{
  position: relative;
  min-height: 216px;
  padding: 0;
}
.uslugi-legend-map{
  height: 2px;
  position: relative;
  background: #fff;
  width: 85%;
  margin: 0 auto 60px;
}
.uslugi-point{
  position: absolute;
  top:-7px;
  background: #fff;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}
.uslugi-point.active:before{
  position: absolute;
  left: -10px;
  bottom: -10px;
  content: '';
  background: transparent;
  border: 2px solid #fff;
  border-radius: 17px;
  width: 34px;
  height: 34px;
}
.p1{
  left: 0;
}
.p2{
  left:33.333%;
}
.p3{
  left:66.667%;
}
.p4{
  right: 0;
}
.uslugi-main-buttons{
  position: absolute;
  width: 100%;
}
.uslugi-main-buttons li{
  margin-top:130px;
}
.uslugi-main-buttons a{
  font-family: 'Helvetica-6-Medium';
  font-size: 17px;
  text-transform: uppercase;
  color:#fff;
}
.uslugi-main-buttons a.active{
  margin-top: 28px;
  display: block;
}
.uslugi-main-buttons a.active:after{
  content: '';
  position: absolute;
  bottom: 49px;
  left:50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}
.button-razrabotka{
  margin-right: 30%;
  position: relative;
}
.button-razrabotka:before{
  position: absolute;
  content:'';
  width: 114px;
  height: 94px;
  top: -132px;
  left: 50%;
  margin-left: -57px;
  background: url('../images/button-razrabotka-big.png') center center no-repeat;
}
.button-razrabotka.active:before{
  top: -158px;
}
.button-soprovozhdenie{
  margin-right: 5%;
  position: relative;
}
.button-soprovozhdenie:before{
  position: absolute;
  content: '';
  width: 127px;
  height: 112px;
  top: -139px;
  left: 50%;
  margin-left: -63px;
  background: url('../images/button-soprovozhdenie-big.png') center center no-repeat;
}
.button-soprovozhdenie.active:before{
  top: -165px;
}
.button-proektirovanie{
  margin-left: 21%;
  position: relative;
}
.button-proektirovanie:before{
  position: absolute;
  content: '';
  width: 142px;
  height: 88px;
  top: -128px;
  left: 50%;
  margin-left: -71px;
  background: url('../images/button-proektirovanie-big.png') center center no-repeat;
}
.button-proektirovanie.active:before{
  top: -154px;
}
.button-analitika{
  margin-left: 36%;
  position: relative;
}
.button-analitika:before{
  position: absolute;
  content: '';
  width: 142px;
  height: 88px;
  top: -129px;
  left: 50%;
  margin-left: -71px;
  background: url('../images/button-analitika-big.png') center center no-repeat;
}
.button-analitika.active:before{
  top: -155px;
}
.uslugi-section-description{
  padding: 69px 30px 68px;
}
.uslugi-text{
  font-family: 'Helvetica-4-Light';
  color:#231f20;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 50px;
}

/*	services-site-creating	*/
.panel-services-menu{
  margin: 0 0 28px;
  display: none;
  position: fixed;
  top: 71px;
  width: 100%;
  z-index: 2;
}
.panel-services-menu-red{
  background: #da3039 url('../images/panel-services-menu-red.png') center center no-repeat;
}
.panel-services-menu-red > .container{}
.uslugi-buttons-panel{
  /*padding: 112px 0 33px;*/
}
.uslugi-buttons-panel > .container{
  /*position: relative;
  min-height: 24px;*/
  padding: 0;
}
.uslugi-buttons-small{
  width: 100%;
  margin: 0;
  border: none;
}
.uslugi-buttons-small li{
  padding: 112px 0 33px;
}
.uslugi-buttons-small a{
  font-family: 'Helvetica-6-Medium';
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  border: none !important;
  margin: 0;
  
  position: relative;
}
.uslugi-buttons-small a:hover, .uslugi-buttons-small .active a:hover{
  color:#fff !important;
  background: none !important;
  border: none !important;
}
.uslugi-buttons-small li.active a{
  margin-top:15px;
  display: block;
  color: #fff;
  background: none;
  border: none;
}
.uslugi-buttons-small li.active a:after{
  content: '';
  position: absolute;
  bottom: 40px;
  left:50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}
.button-razrabotka-small:before{
  content: '';
  position: absolute;
  width: 62px;
  height: 51px;
  top: -74px;
  left: 50%;
  margin-left: -31px;
  background: url('../images/button-razrabotka-small.png') center center no-repeat;
}
.active .button-razrabotka-small:before{
  top: -87px;
}
.button-soprovozhdenie-small:before{
  content: '';
  position: absolute;
  width: 68px;
  height: 59px;
  top: -82px;
  left: 50%;
  margin-left: -34px;
  background: url('../images/button-soprovozhdenie-small.png') center center no-repeat;
}
.active .button-soprovozhdenie-small:before{
  top: -95px;
}
.button-proektirovanie-small:before{
  content: '';
  position: absolute;
  width: 74px;
  height: 46px;
  top: -69px;
  left: 50%;
  margin-left: -37px;
  background: url('../images/button-proektirovanie-small.png') center center no-repeat;
}
.active .button-proektirovanie-small:before{
  top: -82px;
}
.button-analitika-small:before{
  content: '';
  position: absolute;
  width: 76px;
  height: 44px;
  top: -67px;
  left: 50%;
  margin-left: -38px;
  background: url('../images/button-analitika-small.png') center center no-repeat;
}
.active .button-analitika-small:before{
  top: -80px;
}
.services-workflow{
  margin: 71px auto 40px;
}
.site-creating-img img{
  width:100%;
  max-width: 1100px;
}
.site-accompaniment-img img{
  width:100%;
  max-width: 880px;
}
.services-engineering-img img{
  width:100%;
  max-width: 1043px;
}
.panel-tecnologies{
  background: #020202 url('../images/panel-tecnologies-black.gif') center center no-repeat;
  border: 1px solid transparent;
}
.list-technologies{
  margin:0 auto 22px;
}
.list-technologies li{
  vertical-align: middle;
  height: 66px;
  margin-bottom: 22px;
}
.list-technologies .icon{
  background: #020202 url('../images/sprite-services-technologies.png') no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon-html5{
  width:43px;
  height: 58px;
  background-position: 0 -8px ! important;
  margin-top: 4px;
}
.icon-css3{
  width:42px;
  height: 59px;
  background-position: -43px -7px  ! important;
  margin-top: 4px;
}
.icon-axure{
  width:51px;
  height: 62px;
  background-position: -85px -4px ! important;
  margin-top: 2px;
}
.icon-javascript{
  width:76px;
  height: 66px;
  background-position: -136px 0 ! important;
}
.icon-php{
  width:79px;
  height: 38px;
  background-position: -212px -28px ! important;
  margin-top: 14px;
}
.icon-sql{
  width:81px;
  height: 36px;
  background-position: -291px -30px ! important;
  margin-top: 15px;
}
.icon-schema{
  background: none !important;
  font-family: 'Helvetica-6-Medium';
  font-size: 13px;
  color:#fff;
  margin-top: 24px;
}
.panel-red{
  background: #da3039;
  border: 1px solid transparent;
}
.list-partners{
  margin:0 0 20px;
}
.list-partners li{
  padding: 0px 40px;
  margin-bottom: 0;
}
.list-partners li:not(:last-of-type){
  margin-bottom: 20px;
}
.list-partners .icon{
  background: url('../images/sprite-services-partners.png') no-repeat;
  display: block;
}
.icon-umi{
  width: 182px;
  height: 53px;
  background-position: 0 -48px ! important;
  font-family: 'Helvetica-6-Medium';
  font-size: 13px;
  color: #fff;
  padding: 34px 0 0 73px;
}
.icon-bitrix{
  width: 248px;
  height: 48px;
  background-position: 0 0 ! important;
}
.services-description{
  padding: 66px 0 30px;
}
.services-description-column{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 39px;
}
.services-description-column .h4{
  margin: 0;
}
.services-description-column .h4:before{
  content: '';
  display: block;
  background: url('../images/sprite-services-description.png') no-repeat;
  height: 98px;
  margin: 0 auto 39px;
}
.saiti-uslug:before{
  width: 101px;
  background-position: 0 0 !important;
}
.internet-magazin:before{
  width: 107px;
  background-position: -101px -1px !important;
}
.services-desc-text{
  margin: 28px 0 27px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color:#231f20;
  text-align: left;
  letter-spacing: 0.45px;
}
.services-link-portfolio{
  margin-bottom: 4px;
}
.services-link-portfolio a{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color:#da3036;
  text-transform: uppercase;
}
.services-link-dogovor{
  margin-bottom: 28px;
}
.services-link-dogovor a{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #272727;
}

/* -- footer --*/
footer{
  background: #282828;
  color: #fff;
}
.footer-columns-block{
  padding-bottom: 30px;
}
.footer-columns-block:before{
  display: block;
  content: '';
  width: 54px;
  height: 54px;
  background: #da3039 url('../images/logo-webtrend.png') center center no-repeat;
  margin-bottom: 23px;
}
.footer-columns{
  margin: 0 -5px 0 -5px;
}
.footer-columns > li{
  padding-bottom: 40px;
}
.footer-column-title{
  font-family: 'Helvetica-6-Medium';
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom:27px;
}
.title-ask-question{
  margin-bottom:19px;
}
.footer-webtrend-address{
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  margin: 0 0 9px;
}
.footer-webtrend-phone{
  font-family: 'Helvetica-4-Light';
  font-size:21px;
  text-transform: uppercase;
  margin: 0 0 45px;
}
.footer-menu-list{
  padding: 0;
}
.footer-links-block{
  padding-left: 14px;
}
.footer-links-block li{
  list-style-image: url('../images/li-image.png');
  list-style-type: none;
  padding: 0 10px 0 5px;
}
.footer-links-block li a{
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color:#fff;
  overflow-wrap: break-word; 
}
.ask-two-texts, .footer-question{
  margin-bottom: 19px;
}
.ask-two-texts > div{
  padding: 0
}
.footer-fio{
  padding-right: 2.5% !important;
}
.footer-phone{
  padding-left: 2.5% !important;
}
.footer-question > .input-text{
  padding: 8px 5px;
  height: 41px;
  transition: height 0.3s ease;
  line-height: 26px;
  resize: none;
}
.footer-question > .input-text:focus{
  height: 91px;
}
.input-text{
  border:1px solid #c8c8c8;
  padding: 5px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color:#555 !important;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-text::-webkit-input-placeholder {color:#b4b4b4;}
.input-text[placeholder]               {color:#b4b4b4;}
.input-text::-moz-placeholder          {color:#b4b4b4;}
.input-text:-moz-placeholder           {color:#b4b4b4;}
.input-text:-ms-input-placeholder      {color:#b4b4b4;}

.footer-bottom{
  background: #020202;
  padding: 26px 0;
  line-height: 27px;
}
.copyright{
  float: left;
  padding: 0;
  margin-bottom: 5px;
}
.copyright a{
  color:#fff;
}
.social-networks{
  float: right;
  padding: 0;
}
.social-networks > ul{
  margin: 0;
  height: 27px;
}
.social-network{
  padding: 0 3px;
}
.social-network:first-of-type{
  padding: 0 3px 0 0;
}
.social-network:last-of-type{
  padding: 0 0 0 3px;
}
.social-network a{
  float: left;
  padding: 0 5px;
  width: 27px;
  height: 27px;
  background: url('../images/sprite-social-networks.png') no-repeat;
  border-radius: 14px;
}
.social-network a:hover{
  background: url('../images/sprite-social-networks-red.png') no-repeat;
}
.social-network a:active{
  box-shadow: inset 0 3px 4px 1px rgba(0, 0, 0, 0.24);
}
.fb{
  background-position: 0 0;
}
.tw{
  background-position: -27px 0 !important;
}
.vk{
  background-position: -54px 0 !important;
}
.sk{
  background-position: -81px 0 !important;
}

/* services-site-accompaniment */
.accompaniment-stats{
  padding: 13px 0 59px;
  text-align: left;
}
.accompaniment-stats ul{
  margin: 0;
}
.accompaniment-stats li{
  text-align: center;
}
.comma-big-outer{
  position: relative;
  background: #020202;
  width: 110px;
  border-radius: 55px;
  text-align: center;
  margin: 0 auto;
}
.comma-big-inner{
  display: block;
  overflow: hidden;
  width: 110px;
  line-height: 110px;
  font-family: 'Helvetica-3-Thin';
  font-size: 30px;
  color: #fff;
}
.comma-big-outer:after{
  content:'';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 14px solid #020202;
  border-bottom: 5px solid transparent;
  position: absolute;  
  right: 50%;
  margin-right: -7px;
  top: 110px;
  -webkit-transform:  rotate(90deg);
  -moz-transform:     rotate(90deg);
  -ms-transform:      rotate(90deg);
  -o-transform:       rotate(90deg);
  transform:          rotate(90deg);
  z-index: -1;
}
.accompaniment-stats-description{
  display: inline-block;
  margin: 35px 0 0 0;
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #231f20;
  text-transform: uppercase;
  word-break: break-all;
}
.panel-accompaniment-black{
  background: #020202 url('../images/panel-accompaniment-black.gif') center center no-repeat;
  border: 1px solid transparent;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #fff;
  padding: 45px 0 20px;
}
.panel-accompaniment-black p{
  text-align: left;
  margin: 0 0 15px;
}
.accompaniment-description-title{
  margin: 47px 0 0;
  font-family: 'Helvetica-4-Light';
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
.accompaniment-team-block{
  margin: 15px 0 28px;
}
.accompaniment-team{
  margin: 0;
}
.accompaniment-team li{
  font-family: 'Helvetica-6-Medium';
  font-size: 15px;
  color: #fff;
  padding-top: 70px;
}
.accompaniment-team span{
  position: relative;
}
.accompaniment-team span:before{
  position: absolute;
  content: '';
  left:50%;
  background: url('../images/sprite-team.png') no-repeat;
}
.icon-designer:before{
  top: -54px;
  margin-left: -29px;
  width:58px;
  height: 35px;
  background-position: 0 0;
}
.icon-illustrator:before{
  top: -70px;
  margin-left: -15px;
  width: 30px;
  height: 51px;
  background-position: 0 -35px !important;
}
.icon-verstalschik:before{
  top: -44px;
  margin-left: -25px;
  width: 49px;
  height: 25px;
  background-position: 0 -86px !important;;
}
.icon-analitik:before{
  top: -57px;
  margin-left: -20px;
  width: 40px;
  height: 38px;
  background-position: 0 -111px !important;;
}
.icon-programmer:before{
  top: -56px;
  margin-left: -20px;
  width: 41px;
  height: 37px;
  background-position: 0 -149px !important;;
}
.icon-copywriter:before{
  top: -51px;
  margin-left: -15px;
  width: 30px;
  height: 32px;
  background-position: 0 -186px !important;;
}
.icon-optimizer:before{
  top: -53px;
  margin-left: -19px;
  width: 38px;
  height: 34px;
  background-position: 0 -218px !important;;
}
.accompaniment-description{
  padding: 66px 0 0;
}
.accompaniment-description-column{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}
.accompaniment-description-column .h4{
  margin: 0;
}
.accompaniment-price{
  margin-top: 10px;
}
.accompaniment-price-red{
  position: relative;
  font-family: 'Helvetica-6-Medium';
  background: #da3039;
  color:#fff;
  width: 26.3%;
  min-width: 121px;
  height: 51px;
  float: right;
  margin-right: 15%;
}
.accompaniment-price-red:before{
  content: '';
  background: #da3039;
  height: 2px;
  width: 137px;
  position: absolute;
  right: 100%;
}
.accompaniment-price-thousands{
  float: left;
  font-size: 45px;
  line-height: 51px;
  margin: 0 4% 0 16%;
}
.two-digits .accompaniment-price-thousands{
  margin: 0 1% 0 6%;
}
.accompaniment-price-point{
  float: left;
  line-height: 37px;
  height: 100%;
  font-family: 'Helvetica-8-Heavy';
  font-size: 25px;
}
.accompaniment-price-red-right{
  margin-right:10%;
}
.two-digits .accompaniment-price-red-right{
  margin-right:5%;
}
.accompaniment-price-zeros{
  font-family: 'Helvetica-8-Heavy';
  font-size: 25px;
  margin: 1px 0 -7px;
}
.accompaniment-currency{
  font-size: 12px;
}
.accompaniment-desc-text{
  margin: 19px 0 15px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #231f20;
  text-align: left;
  letter-spacing: 0.45px;
}

/* services-engineering */
.services-engineering-text{
  margin: 37px 0 1px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #231f20;
}

.engineering-slider-case{
  margin:82px 0 0;
}
.engineering-slider-case img{
  width:100%;
}
.panel-services-engineering{
  padding: 39px 0;
}
.engineering-price-block{
  display: table;
  margin: 0 auto 42px;
}

.engineering-price-block span{
  display: table-cell;
  font-family: 'Helvetica-6-Medium';
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}
.engineering-price{
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.wt-counter{
  
}
.wt-counter-digit{
  position: relative;
  float: left;
  background: url('../images/wt-counter-digit.png') center center no-repeat;
  background-size:100%;
  color:#fff;
  font-family: 'Alternan';
  width: 30px;
  height: 49px;
  line-height: 51px;
  margin: 0 3px;
  font-size: 49px;
}
.wt-counter-digit:before{
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  width: 30px;
  height: 4px;
  background: url('../images/wt-counter-digit-cross.png') center center no-repeat;
  background-size:100%;
}

/* services-analitics */
.services-analitics-text{
  margin: 37px 0 0;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #231f20;
}
.services-analitics-text p{
  margin: 0px 0 15px;
}
.analitics-parts{
  margin: 48px 0 0;
}
.analitics-one-part{
  padding: 107px 0 0;
  margin: 0 0 62px;
}
.analitics-icon:hover > .analitics-icon-border{
  background-color: #da3039;/* при наведении - дождаться отрисовки изображений */
}
.icon-audit:hover:before{
  background-position: -71px 0 !important;
  z-index: 1;
}
.icon-counters:hover:before{
  background-position: -54px -94px !important;
  z-index: 1;
}
.icon-testing:hover:before{
  background-position: -47px -49px !important;
  z-index: 1;
}
.icon-traffic:hover:before{
  background-position: -47px -136px !important;
  z-index: 1;
}
.analitics-icon{
  position: relative;
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #231f20;
  text-transform: uppercase;
}
.analitics-icon:before{
  content: '';
  position: absolute;
  left: 50%;
  background: url('../images/sprite-analitics.png') center center no-repeat;
}
.analitics-icon:after{
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top:-106px;
  left: -10px;
  margin-left: 50%;
  background: #da3039;
}
.icon-audit:before{
  top: -87px;
  margin-left: -35px;
  width: 71px;
  height: 49px;
  background-position: 0 0 !important;
}
.icon-counters:before{
  top: -83px;
  margin-left: -27px;
  width: 54px;
  height: 42px;
  background-position: 0 -94px !important;
}
.icon-testing:before{
  top: -85px;
  margin-left: -23px;
  width: 47px;
  height: 45px;
  background-position: 0 -49px !important;
  z-index: 1;
}
.icon-traffic:before{
  top: -86px;
  margin-left: -23px;
  width: 47px;
  height: 47px;
  background-position: 0 -136px !important;
  z-index: 1;
}
.analitics-icon-border{
  position: absolute;
  width:90px;
  height: 90px;
  top:-107px;
  left:-45px;
  margin-left: 50%;
  border: 1px solid #ddd;
}
.analitics-one-part span{
  height: 80px;
  overflow: hidden;
  line-height: 20px;
  display: block;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #231f20;
}
.analitics-container {
  padding: 0 0 62px;
}
.analitics-final-text{
  margin:-25px 0 28px;
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #da3036;
  text-transform: uppercase;
}

/* contacts */
.contacts{
  padding-top: 71px;
}
.contacts-form-page .panel-red-big{
  background: #DA3037 url('../images/panel-uslugi-big.png') center center no-repeat;
  text-align: center;
  color:#fff;
}
.contacts-form-page .jumbotron{
  padding: 96px 0 52px;
  margin-bottom: 0;
  background-color: transparent;
}
.contacts-form-page .jumbotron .h1 {
  font-family: 'Helvetica-4-Light';
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.contacts-methods-block{
  
}
.contacts-methods{
  margin: 0;
}
.contacts-methods li{
  /*width: 20%;*/
  float: left;
  padding: 158px 0 0;
}
.contact-type{
  position: relative;
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  text-transform: uppercase;
}
.contact-type:before{
  content: '';
  position: absolute;
  left: 50%;
  background: url('../images/sprite-contacts.png') no-repeat;
}
.contact-type:after{
  content: '';
  position: absolute;
  width: 36px;
  height: 2px;
  left: 50%;
  margin-left: -18px;
  top: -17px;
  background: #fff;
}
.type-phone:before{
  width: 38px;
  height: 52px;
  top: -97px;
  margin-left: -19px;
  background-position: 0 -5px !important;
}
.type-mail:before{
  width: 62px;
  height: 38px;
  top: -94px;
  margin-left: -31px;
  background-position: 0 -57px !important;
}
.type-skype:before{
  width: 54px;
  height: 54px;
  top: -102px;
  margin-left: -27px;
  background-position: 0 -95px !important;
}
.type-fb:before{
  width: 28px;
  height: 57px;
  top: -103px;
  margin-left: -14px;
  background-position: -38px 0px !important;
}
.type-vk:before{
  width: 41px;
  height: 43px;
  top: -96px;
  margin-left: -20px;
  background-position: -54px -95px !important;
}
.contact-value{
  font-family: 'Helvetica-4-Light';
  font-size: 18px;
}
.contact-value a{
  color:#fff;
}
.contacts-form-block{
  padding: 54px 0 121px;
}
.request-title{
  font-family: 'Helvetica-6-Medium';
  font-size: 21px;
  text-transform: uppercase;
  color:#f04141;
}
.request-text{
  font-family: 'Helvetica-6-Medium';
  font-size: 15px;
  color:#231f20;
}
.contacts-form{
  text-align: center;
  margin-top: 32px;
}
.contacts-form-upper-row > div{
  padding: 0;
  margin-bottom: 25px;
}
.contacts-question-text{
  margin: 0 0 49px;
  resize: none;
}
.contacts-map-page > ymaps{
  width:100% !important;
}
.ymaps-image{/* метка */
  background: #da3039 url('../images/sprite-contacts.png') -66px -34px no-repeat !important;
  width:40px !important;
  height:61px !important;
  z-index: 9999 !important;
  left: 22px !important;
  top: -109px !important;
}
.ymaps-image:before{
  border: 20px solid #da3039;
  position: absolute !important;
  background: transparent !important;
  content: '';
  width: 80px !important;
  height: 101px !important;
  left: -20px !important;
  top: -20px !important;
}
.ymaps-image:after{
  border-left: 23px solid #da3039;
  border-bottom: 23px solid transparent; 
  position: absolute !important;
  content: ''; 
  left: -20px !important;
  top: 81px !important;
}
.ymaps-b-balloon{
  height: 101px;
  top: -127px !important;
  left: 3px !important;
}
.ymaps-b-balloon > .ymaps-b-balloon__tr, .ymaps-b-balloon > .ymaps-b-balloon__tl{
  display: none;
}
.ymaps-b-balloon__content{
  font-size: 15px;
  line-height: 19px;
  height: 101px;
  color: #fff;
  background: #000 !important;
  -webkit-transform: translate(78px, -2px);
  -moz-transform:    translate(78px, -2px);
  -ms-transform:     translate(78px, -2px);
  -o-transform:      translate(78px, -2px);
  transform:         translate(78px, -2px);
}
.ymaps-b-balloon__content > ymaps{
  height: 100% !important;
}
.ymaps-b-balloon__close{
  width: 80px !important;
  height: 101px !important;
  top: -2px !important;
  right: 277px !important;
  z-index: 10000;
  background-image: none !important;
}
.ymaps-b-balloon__sprite_type_tail{/* как метка выглядит */
  background: #da3039 url('../images/sprite-contacts.png') -66px -34px no-repeat !important;
  width:40px !important;
  height:61px !important;
  z-index: 9999 !important;
  left: -153px !important;
  top: -82px !important;
}
.ymaps-b-balloon__sprite_type_tail:before{
  border: 20px solid #da3039;
  position: absolute !important;
  background: transparent !important;
  content: '';
  width: 80px !important;
  height: 101px !important;
  left: -20px !important;
  top: -20px !important;
}
.ymaps-b-balloon__sprite_type_tail:after{
  border-left: 23px solid #da3039;
  border-bottom: 23px solid transparent; 
  position: absolute !important;
  content: ''; 
  left: -20px !important;
  top: 81px !important;
}
.ymaps-b-balloon__bl{
  width: 0 !important;
}
ymaps.ymaps-b-balloon__sprite.ymaps-b-balloon__sprite_position_bl{/* нижняя плашка */
  display: none;
}
.ymaps-b-balloon__tail{
  background: none !important;
  right: -206px !important;
}
.ymaps-b-balloon__br{
  display: none !important;
}
.ymaps-shadows-pane{
  display: none;
}

/* wt-map */
.wt-map{
  height: 517px;
}
.placemark_layout_container { 
  position: relative;
  text-align: center;
}
.polygon_layout {
  background: #da3039 url('../images/sprite-contacts.png') -66px -34px no-repeat;
  border: solid #DA3038;
  border-top-width: 29px;
  border-right-width: 20px;
  border-left-width: 20px;
  border-bottom-width: 29px;
  width: 40px;
  height: 61px;
  position: absolute;
  left: -10px;
  top: -134px;
}
.polygon_layout:after {
  border-left: 23px solid #da3039;
  border-bottom: 23px solid transparent;
  position: absolute !important;
  content: '';
  left: -20px !important;
  top: 88px !important;
}
.ymaps-2-1-17-balloon{
  top: -134px !important;
  left: 69px !important;
  height: 119px;
  padding: 0 !important;
  background: #000 !important;
  color:#fff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:    none !important;
  box-shadow:         none !important;
}
.ymaps-2-1-17-balloon__layout {
  background: #000 !important;
  height: inherit;
  overflow: visible !important;
}
.ymaps-2-1-17-balloon__close {
  position: absolute;
  width: 79px;
  height: inherit;
  top: 0;
  right: 100% !important;
  cursor: pointer;
}
.ymaps-2-1-17-balloon__close-button {
  background-image: none !important;
}
.ymaps-2-1-17-balloon__content {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 60px;
  height: 100%;
  min-height: 15px;
  margin: 0;
  padding: 0 10px !important;
  text-align: left !important;
  background: #000 !important;
}
.ymaps-2-1-17-balloon__content > ymaps{
  height: 99px !important;
  max-height: 99px !important;
  padding: 10px 0;
}
.ymaps-2-1-17-balloon__close+.ymaps-2-1-17-balloon__content {
  margin-right: 0 !important;
  padding: 0 10px !important;
}
.ymaps-2-1-17-balloon__tail{
  background: #da3039 url('../images/sprite-contacts.png') -66px -34px no-repeat !important;
  border: solid #DA3038;
  border-top-width: 29px;
  border-right-width: 20px;
  border-left-width: 20px;
  border-bottom-width: 29px;
  width: 40px !important;
  height: 61px !important;
  position: absolute;
  left: -79px !important;
  top: 0 !important;
  -webkit-transform: rotate(0) !important;
  -moz-transform:    rotate(0) !important;
  -ms-transform:     rotate(0) !important;
  -o-transform:      rotate(0) !important;
  transform:         rotate(0) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow:    none !important;
  box-shadow:         none !important;
}
.ymaps-2-1-17-balloon__tail:after {
  border-left: 23px solid #da3039;
  border-bottom: 23px solid transparent;
  position: absolute !important;
  background: none !important;
  width: 0 !important;
  height: 0 !important;
  left: -20px !important;
  top: 88px !important;
}
.wt-map-building, .wt-map-address{
  display:block;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
}
.wt-map-building{
  margin-top: 12px;
}
.ymaps-2-1-17-balloon-content__footer{
  margin: 15px 0 0 !important;
}
.wt-map-phone{
  font-family: 'Helvetica-4-Light';
  font-size: 17px;
  color:#fff;
} 
     
/* up */
.up{
  display: none;
  width:63px;
  height: 63px;
  bottom: 0;
  right: 50%;
  margin-right: -611px;
  background: #3a3a3a;
  position: fixed;
  cursor: pointer;
}
.up:before{
  content: '';
  position: absolute;
  width: 63px;
  height: 63px;
  background: url('../images/up.png') center center no-repeat;
}

/* portfolio */
.portfolio{
  padding: 71px 0 120px; /* padding-top because header has position:fixed */
}
.wt-portfolio-info{
  padding: 89px 0 23px;
  font-family: 'Helvetica-4-Light';
  color:#231f20;
  text-align: center;
}
.portfolio-title{
  margin-bottom: 5px;
  font-size: 50px;
  text-transform: uppercase;
}
.portfolio-description{
  margin-bottom: 19px;
  font-size: 18px;
}
.portfolio-buttons-block{}

.portfolio-right-button, .portfolio-left-button{
  margin-top: 19px;
  padding-right: 25px;
  padding-left: 25px;
}
@media (min-width: 768px){
  .portfolio-left-button{
    text-align: right;
  }
  .portfolio-right-button{
    text-align: left
  }
}
.wt-portfolio-slider-block{
  max-width: 1328px;
  margin: 0 auto;
  padding: 20px 0;
}
.wt-single-slide-box{
  padding: 0;
}
.ss-image{
  position: relative;
}
.ss-image > img{
  width: 100%;
  max-width: 100%;
}
.image-twilight{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.6) url('../images/magnifier.png') 50% 50% no-repeat;
}
.wt-single-slide-box a:hover .image-twilight{
  opacity: 1;
}
.ss-description{
  height: 137px;
  padding: 41px 10px 0;
  text-align: center;
  font-family: 'Helvetica-6-Medium';
  color:#231f20;
  text-transform: uppercase;
}
.wt-single-slide-box a:hover{
  text-decoration: none;
}
.wt-single-slide-box a:hover .ss-description{
  background: #da3039;
}
.ss-description:before{
  content: '';
  display: block;
  width: 36px;
  height: 2px;
  margin: 0px auto 14px;
  background: #da3039;
}
.wt-single-slide-box a:hover .ss-description:before{
  background: #fff;
}
.bx-wrapper .bx-viewport {
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  border: none;
  left: 0;
}
.bx-wrapper .bx-controls-direction a{
  width: 19px;
  height: 30px;
}
.bx-wrapper .bx-prev{
  background: url('../images/wt-slider-arrow.png') no-repeat;
  left: -24px;
}
.bx-wrapper .bx-next {
  background: url('../images/wt-slider-arrow.png') no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform:    rotate(180deg);
  -ms-transform:     rotate(180deg);
  -o-transform:      rotate(180deg);
  transform:         rotate(180deg);
  right: -24px;
}
@media (min-width: 768px){
  .bx-wrapper .bx-prev{
    left: -34px;
  }
  .bx-wrapper .bx-next{
    right: -34px;
  }
}
@media (min-width: 992px){
  .bx-wrapper .bx-prev{
    left: -89px;
  }
  .bx-wrapper .bx-next{
    right: -89px;
  }
}
.bx-wrapper .bx-next:hover {
  background-position: 0 0;
}

/* portfolio-site */
.portfolio-site{
  padding: 71px 0 0;
}
.ps-title{
  text-align: center;
}
.ps-block{
  margin:12px 0 20px;
  padding: 37px 0 65px;
}
.ps-site-page-block{
  overflow: hidden;
  padding-left: 0;
  padding-right: 25px;
}
.ps-site-page-block img{
  max-width: 100%;
}
.ps-site-page-info{
  padding-right: 0;
  padding-left: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.ps-info-part{
  margin-bottom: 18px;
}
.ps-info-title{
  margin-bottom: 18px;
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #da3036;
  text-transform: uppercase;
}
.ps-info-desc{
/*  margin-bottom: 35px; */
  padding-bottom: 17px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color: #231f20;
}
.ps-info-previews{
/*  margin-top: 26px; */
/*  margin-bottom: 30px; */
  padding: 8px 0 12px;
  list-style-type: none;
}
.ps-info-preview{
  padding: 0 5px;
  margin-bottom: 10px;
  height: 94px;
  line-height: 91px;
}
.ps-info-preview > a{
  height: inherit;
}
.ps-preview-first{
  padding-left: 0;
}
.ps-preview-last{
  padding-right: 0;
}
.img-center-middle{
  text-align: center;
  height: inherit;
  border: 1px solid #a6a6a6;
  overflow: hidden;
  position: relative;/* has .image-twilight:absolute inside */
}
.ps-info-preview img{
  max-width: 100%;
  max-height: 100%;
}
.ps-info-preview:not(.active) a:hover .image-twilight{
  opacity: 1;
}

@media (min-width: 768px){
  .navbar-collapse{ 
    margin-top:64px;
  }
  .header .navbar .navbar-brand{
    margin: 54px 0 8px 64px;
  }
  .header .navbar-nav > li:first-of-type > a{
    margin-left: 0;
  }
  .header .navbar-nav > li:last-of-type > a{
    margin-right: 0;
  }
  .header .navbar-nav>li a{
    padding: 0 0 7px;
  }
  .header .navbar-nav>li.active a{
    padding: 0 0 7px;
    border-bottom: 4px solid #da3039;
    border-left:none;
  }
  .low-header .navbar-collapse{ 
    margin-top:40px;
  }
  .low-header .navbar .navbar-brand{
    margin: 30px 0 0 64px;
  }
  .copyright{
    margin-bottom: 0;
  }
  .social-networks{
    text-align: right;
  }
  .list-technologies{
    width: 90%;
  }
  .services-description-column{
    padding-left: 25px;
    padding-right: 25px;
  }
  .services-description-column:nth-child(2n+1){
    padding-left: 0;
  }
  .services-description-column:nth-child(2n){
    padding-right: 0;
  }
  .accompaniment-description-column{
    padding-left: 25px;
    padding-right: 25px;
  }
  .accompaniment-description-column:nth-child(2n+1){
    padding-left: 0;
  }
  .accompaniment-description-column:nth-child(2n){
    padding-right: 0;
  }
  .engineering-price{
    margin: 0 23px;
  }
  .wt-counter-digit{
    width: 54px;
    height: 87px;
    line-height: 92px;
    margin: 0 5px;
    font-size: 87px;
  }
  .wt-counter-digit:before{
    top:43px;
    width: 54px;
    height: 3px;
  }
  .same-site-button .btn-244{
    width: 215px;
  }
  .contacts-form-upper-row > div{
    padding: 0 2.5%;
  }
  .contacts-form-upper-row > div:first-of-type{
    padding: 0 2.5% 0 0;
  }
  .contacts-form-upper-row > div:last-of-type{
    padding: 0 0 0 2.5%;
  }
}/* end @media (min-width: 768px) */

@media (min-width: 992px){
  .container {
    padding: 0;
  }
  .site-creating-img, .services-engineering-img{
    width:100%;
  }
  .black-comma-outer{
    margin: 0 15px;
    float: left;
  }
  .black-comma-outer:after{
    right: -8px;
    top: 29px;
    margin-right: 0;
    -webkit-transform: none;
    -moz-transform:    none;
    -ms-transform:     none;
    -o-transform:      none;
    transform:         none;
  }
  .stats-description{
    float: left;
  }
  .slider-buttons li a{
    font-size: 17px;
  }
  .slider-buttons li a:before{
    content: '';
  }
  .slider-buttons li a:after{
    top:47px;
  }
  .list-technologies{
    width: 70%;
  }
  .comma-big-outer{
    margin: 0 26px 0 0; 
    float: left;
  }
  .accompaniment-stats-description{
    float: left;
  }
  .comma-big-outer:after{
    margin-right: 0;
    top:50px;
    right: -12px;
    -webkit-transform:  rotate(0);
    -moz-transform:     rotate(0);
    -ms-transform:      rotate(0);
    -o-transform:       rotate(0);
    transform:          rotate(0);
  }
  .accompaniment-stats li{
    text-align: left;
  }
  .same-site-button .btn-244{
    width: 244px;
  }
}
/* end @media (min-width: 992px) */

@media (min-width: 1200px){
  .container{
    width:1000px;
  }
  .site-creating-img{
    width:1100px;
  }
  .services-engineering-img{
    width:1043px;
  }
}
  
/* скомпилировать в less */