@font-face {
    font-family: 'Helvetica-9-Black';
    src: url('../fonts/Helv-9-Black.eot');
    src: url('../fonts/Helv-9-Black.eot') format('embedded-opentype'),
         url('../fonts/Helv-9-Black.woff2') format('woff2'),
         url('../fonts/Helv-9-Black.woff') format('woff'),
         url('../fonts/Helv-9-Black.ttf') format('truetype'),
         url('../fonts/Helv-9-Black.svg#Helvetica-9-Black') format('svg');
}
@font-face {
  font-family: 'Helvetica-6-Medium';
  src: url('../fonts/Helvetica-6-Medium.eot?') format('eot'), 
       url('../fonts/Helvetica-6-Medium.woff') format('woff'), 
       url('../fonts/Helvetica-6-Medium.ttf')  format('truetype'),
       url('../fonts/Helvetica-6-Medium.svg#Helvetica-6-Medium') format('svg');
}
@font-face {
  font-family: 'Helvetica-4-Light';
  src: url('../fonts/Helvetica-4-Light.eot?') format('eot'), 
       url('../fonts/Helvetica-4-Light.woff') format('woff'), 
       url('../fonts/Helvetica-4-Light.ttf')  format('truetype'),
       url('../fonts/Helvetica-4-Light.svg#Helvetica-4-Light') format('svg');
}
@font-face {
  font-family: 'Helvetica-3-Thin';
  src: url('../fonts/Helvetica-3-Thin.eot?') format('eot'), 
       url('../fonts/Helvetica-3-Thin.woff') format('woff'), 
       url('../fonts/Helvetica-3-Thin.ttf')  format('truetype'),
       url('../fonts/Helvetica-3-Thin.svg#Helvetica-3-Thin') format('svg');
}
@media (min-width: 1200px){
  .container{
    width:1000px;
    padding: 0;
  }	
}
html {}
body {}
.h2, .h3, .h4{
  font-family: 'Helvetica-6-Medium';
  text-transform: uppercase;
}
.h2{
  font-size: 21px;
  color:#231f20;
}
.h3{
  font-size: 17px;
  color:#fff;
  margin-top: 27px;
  margin-bottom: 21px;
}
.h4{
  font-size: 17px;
  color:#231f20;
}
.bottom-red-line{
  position: relative;
}
.bottom-red-line:after{
  content: '';
  position: absolute;
  width: 50px;
  bottom:-12px;
  left:50%;
  margin-left: -25px;
  height: 2px;
  background: #da3039;
}

.header {
  position: relative;
  height: 95px;
}
.header .container{
  padding:0;
}
.header .navbar{
  background-color:#020202;
  border: none;
  border-radius: 0;
}
.header .navbar>.container .navbar-brand{
  position:relative;
  display: block;
  line-height: 25px;
  height: 33px;
  padding: 0px 0px;
  margin: 54px 0 0 64px;
  font-family: 'Helvetica-6-Medium';
  font-size: 33px;
  color: #fff;
}
.header .navbar-brand:before{
  display: block;
  content: '';
  width: 54px;
  height: 54px;
  background: #da3039 url('../images/logo-webtrend.png') center center no-repeat;
  position: absolute;
  bottom: 33px;
  left: -64px;
}
.navbar-nav.navbar-right:last-child{
  margin-right: 0;
}
.header .nav{
  margin-top:64px;
}
.header .navbar-nav>li>a{
  padding: 0 0 7px;
  margin: 0px 15px;
  font-size: 16px;
  color:#fff;
  font-family: 'Helvetica-6-Medium';
}
.header .navbar-nav>li.active a{
  color: #da3039;
  border-bottom: 4px solid #da3039;
}

.top-slider .jumbotron{
  text-align: center;
  background: transparent;
  padding: 196px 0 195px;
}
.tab-content>.tab-pane {/* разобраться с bootstrap */
  height: 714px; /* высота при ресайзе и разныз размерах окна */
}
#top-slider-1{
  background: url('../images/slide-1-full.jpg') center center no-repeat;
}
#top-slider-2{
  background:#da3039 url('../images/slide-2-full-transparent.png') center center no-repeat;
}
#top-slider-3{
  background: url('../images/slide-3-full.jpg') center center no-repeat;
}
.top-slider .jumbotron .h1{
  font-family: 'Helvetica-6-Medium';
  text-transform: uppercase;
}
.h1.white-h1{
  font-size: 52px;
  color: #fff;
  
}
.h1.black-h1{
  font-size: 77px;
  color: #231f20;
}
.slider-description{
  font-family: 'Helvetica-4-Light';
  font-size: 21px;
  color:#fff;
}
.price{
  font-family: 'Helvetica-6-Medium';
  font-size: 40px;
  color:#fff;
}
.price-number{
  font-size: 57px;
}

.btn{
  border-radius: 0;
  font-family: 'Helvetica-4-Light';
  font-size: 14px;
  text-transform: uppercase;
  line-height: 47px;
}
.btn-white-red{/* кнопка с белой рамкой с разрывом красного цвета на слайдере */
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  border-top-width: 0;
  color:#fff;
}
.btn-white-red:before{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height:2px;
  background: -webkit-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -moz-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -ms-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
  background: -o-linear-gradient(left, #fff 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #fff 68%, #fff 100%);
}
.btn-black-red{/* кнопка с черной рамкой с разрывом красного цвета на слайдере */
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-top-width: 0;
  color:#000;
}
.btn-black-red:before{
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 100%;
  height:2px;
  background: -webkit-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
background: -moz-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
background: -ms-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
background: -o-linear-gradient(left, #000 33%, transparent 34%, transparent 44%, #d31720 45%, #d31720 56%, transparent 57%, transparent 67%, #000 68%, #000 100%);
}
.btn-172{
  padding: 0px 42px;
}
.btn-244{
  padding: 0px 78px;
}
.know-prices{
  padding: 0px 72px;
}

.slider-buttons .container{
  position: relative;
  padding: 0;
}
.slider-buttons .container:after{
  content: '';
  width: 100%;
  height: 137px;
  background: #fff;
  position: absolute;
  right: -100%;
}
.slider-buttons .container:before{
  content: '';
  width: 100%;
  height: 137px;
  background: #fff;
  position: absolute;
  left: -100%;
}
.slider-buttons{
  margin-top: -137px;/* что с ресайзом и разными размерами */
  height: 137px;
  overflow-x: hidden;
}
.slider-buttons ul{
  margin: 0;
}
.slider-buttons li{
  text-align: center;
  padding-top: 25px;
  height: 137px;
  background: #fff;
}
.slider-buttons li.active{
  background: transparent;
}
.slider-buttons li a{
  position: relative;
  font-family: 'Helvetica-6-Medium';
  font-size: 17px;
  text-transform: uppercase;
  color: #231f20;
}
.tab-sale-icon:after{
  content:'%' !important;
  font-family: 'Helvetica-9-Black';
  font-size: 29px;
  color: #da3039;
  background: #fff;
}
.tab-shop-icon:after{
  background:#fff url('../images/tab-shop-icon.png') center center no-repeat;
}
.tab-records-icon:after{
  background:#fff url('../images/tab-records-icon.png') center center no-repeat;
}
.tab-leaders-icon:after{
  background:#fff url('../images/tab-leaders-icon.png') center center no-repeat;
}
.slider-buttons li a:before{
  content: '';
  position: absolute;
  width:50px;
  height: 2px;
  background: #da3039;
  top: 30px;
  left: 50%;
  margin-left: -25px;
}
.slider-buttons li a:after{
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #da3039;
  top: 47px;
  left: 50%;
  margin-left: -22px;
  border-radius: 22px;
}
.slider-buttons li.active a{
  color: #fff;
}
.slider-buttons li.active a:after{
  border-color:transparent;
}
.slider-buttons li.active a:before{
  background: #fff;
}

.company-stats ul{
  line-height: 211px;
}
.company-stats li{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #231f20;
  text-transform: uppercase;
  text-align: center;
}
.black-comma{
  background:#020202;
  font-family: 'Helvetica-3-Thin';
  font-size: 30px;
  color:#fff;
  border-radius: 34px;
  padding: 17px;
  margin-right: 15px;
  position:relative;
  vertical-align: middle;
}
.black-comma:after{
  content:'';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 14px solid #020202;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: -8px;
  top: 29px;
}
.short-black-comma{
  padding: 17px 8px;
}
.stats-description{
  vertical-align: middle;
}

/* ------------------- */
.services{
  text-align:center;
}
.services .panel-red-big{
  background:#da3039 url('../images/panel-uslugi-big.png') center center no-repeat;
}
.services .jumbotron{
  padding: 96px 0 135px;
  margin-bottom: 0;
  background-color: transparent;
}
.services .jumbotron .h1{
  font-family: 'Helvetica-4-Light';
  font-size: 50px;
  text-transform: uppercase;
  color:#fff;
  margin: 0;
}
.services .panel-preview{
  font-family: 'Helvetica-4-Light';
  font-size: 18px;
  color:#fff;
  margin: 12px 0 85px;
}
.panel-legend > .container{
  position: relative;
  min-height: 216px;
  padding: 0;
}
.uslugi-legend-map{
  height: 2px;
  position: relative;
  background: #fff;
  width: 85%;
  margin: 0 auto 60px;
}
.uslugi-point{
  position: absolute;
  top:-7px;
  background: #fff;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}
.uslugi-point.active:before{
  position: absolute;
  left: -10px;
  bottom: -10px;
  content: '';
  background: transparent;
  border: 2px solid #fff;
  border-radius: 17px;
  width: 34px;
  height: 34px;
}
.p1{
  left: 0;
}
.p2{
  left:33.333%;
}
.p3{
  left:66.667%;
}
.p4{
  right: 0;
}
.uslugi-main-buttons{
  position: absolute;
  width: 100%;
}
.uslugi-main-buttons li{
  margin-top:130px;
}
.uslugi-main-buttons a{
  font-family: 'Helvetica-6-Medium';
  font-size: 17px;
  text-transform: uppercase;
  color:#fff;
}
.uslugi-main-buttons a.active{
  margin-top: 28px;
  display: block;
}
.uslugi-main-buttons a.active:after{
  content: '';
  position: absolute;
  bottom: 49px;
  left:50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}
.button-razrabotka{
  margin-right: 30%;
  position: relative;
}
.button-razrabotka:before{
  position: absolute;
  content:'';
  width: 114px;
  height: 94px;
  top: -132px;
  left: 50%;
  margin-left: -57px;
  background: url('../images/button-razrabotka-big.png') center center no-repeat;
}
.button-razrabotka.active:before{
  top: -157px;
}
.button-soprovozhdenie{
  margin-right: 5%;
  position: relative;
}
.button-soprovozhdenie:before{
  position: absolute;
  content: '';
  width: 127px;
  height: 112px;
  top: -139px;
  left: 50%;
  margin-left: -63px;
  background: url('../images/button-soprovozhdenie-big.png') center center no-repeat;
}
.button-soprovozhdenie.active:before{
  top: -165px;
}
.button-proektirovanie{
  margin-left: 21%;
  position: relative;
}
.button-proektirovanie:before{
  position: absolute;
  content: '';
  width: 142px;
  height: 88px;
  top: -128px;
  left: 50%;
  margin-left: -71px;
  background: url('../images/button-proektirovanie-big.png') center center no-repeat;
}
.button-proektirovanie.active:before{
  top: -154px;
}
.button-analitika{
  margin-left: 36%;
  position: relative;
}
.button-analitika:before{
  position: absolute;
  content: '';
  width: 142px;
  height: 88px;
  top: -129px;
  left: 50%;
  margin-left: -71px;
  background: url('../images/button-analitika-big.png') center center no-repeat;
}
.button-analitika.active:before{
  top: -155px;
}
.uslugi-section-description{
  padding: 69px 30px 68px;
}
.uslugi-text{
  font-family: 'Helvetica-4-Light';
  color:#231f20;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 50px;
}

/*	services-site-creating	*/
.panel-services-menu{
  margin: 0 0 28px;
}
.panel-services-menu-red{
  background: #da3039 url('../images/panel-services-menu-red.png') center center no-repeat;
}
.panel-services-menu-red > .container{}
.uslugi-buttons-panel{
  padding: 112px 0 33px;
}
.uslugi-buttons-panel > .container{
  position: relative;
  min-height: 24px;
  padding: 0;
}
.uslugi-buttons-small{
  position: absolute;
  width: 100%;
  margin: 0;
}
.uslugi-buttons-small a{
  font-family: 'Helvetica-6-Medium';
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
.uslugi-buttons-small a.active{
  margin-top:15px;
  display: block;
}
.uslugi-buttons-small a.active:after{
  content: '';
  position: absolute;
  bottom: 40px;
  left:50%;
  margin-left: -25px;
  width: 50px;
  height: 2px;
  background: #fff;
}
.button-razrabotka-small:before{
  content: '';
  position: absolute;
  width: 62px;
  height: 51px;
  top: -74px;
  left: 50%;
  margin-left: -31px;
  background: url('../images/button-razrabotka-small.png') center center no-repeat;
}
.button-razrabotka-small.active:before{
  top: -87px;
}
.button-soprovozhdenie-small:before{
  content: '';
  position: absolute;
  width: 68px;
  height: 59px;
  top: -82px;
  left: 50%;
  margin-left: -34px;
  background: url('../images/button-soprovozhdenie-small.png') center center no-repeat;
}

.button-proektirovanie-small:before{
  content: '';
  position: absolute;
  width: 74px;
  height: 46px;
  top: -69px;
  left: 50%;
  margin-left: -37px;
  background: url('../images/button-proektirovanie-small.png') center center no-repeat;
}

.button-analitika-small:before{
  content: '';
  position: absolute;
  width: 76px;
  height: 44px;
  top: -67px;
  left: 50%;
  margin-left: -38px;
  background: url('../images/button-analitika-small.png') center center no-repeat;
}

.services-workflow{
  margin: 71px 0 40px;
}
.panel-tecnologies{
  background: #020202 url('../images/panel-tecnologies-black.gif') center center no-repeat;
  border: 1px solid transparent;
}
.list-technologies{
  margin:0 0 44px;
}
.list-technologies li{
  vertical-align: middle;
  padding: 0 1.3%
}
.list-technologies li:first-of-type{
  padding-left: 0;
}
.list-technologies li:last-of-type{
  padding-right: 0;
}
.list-technologies .icon{
  background: #020202 url('../images/sprite-services-technologies.png') no-repeat;
  display: block;
}
.icon-html5{
  width:43px;
  height: 58px;
  background-position: 0px -8px ! important;
}
.icon-css3{
  width:42px;
  height: 59px;
  background-position: -43px -7px  ! important;
}
.icon-axure{
  width:51px;
  height: 62px;
  background-position: -85px -4px ! important;
}
.icon-javascript{
  width:76px;
  height: 66px;
  background-position: -136px 0 ! important;
}
.icon-php{
  width:79px;
  height: 38px;
  background-position: -212px -28px ! important;
}
.icon-sql{
  width:81px;
  height: 36px;
  background-position: -291px -30px ! important;
}
.icon-schema{
  background: none !important;
  font-family: 'Helvetica-6-Medium';
  font-size: 13px;
  color:#fff;
}
.panel-partners{
  background: #da3039;
  border: 1px solid transparent;
}
.list-partners{
  margin:0 0 20px;
}
.list-partners li{
  padding: 0px 0.3% 0 4.2%;
}
.list-partners .icon{
  background: url('../images/sprite-services-partners.png') no-repeat;
  display: block;
}
.icon-umi{
  width: 182px;
  height: 53px;
  background-position: 0 -48px ! important;
  font-family: 'Helvetica-6-Medium';
  font-size: 13px;
  color: #fff;
  padding: 34px 0 0 73px;
}
.icon-bitrix{
  width: 248px;
  height: 48px;
  background-position: 0 0 ! important;
}
.services-description{
  padding: 66px 0 69px;
}
.services-description-column{
  padding-left: 25px;
  padding-right: 25px;
}
.services-description-column:nth-child(2n+1){
  padding-right: 0;
}
.services-description-column:nth-child(2n){
  padding-left: 0;
}
.services-description-column .h4{
  margin: 0;
}
.services-description-column .h4:before{
  content: '';
  display: block;
  background: url('../images/sprite-services-description.png') no-repeat;
  height: 98px;
  margin: 0 auto 39px;
}
.saiti-uslug:before{
  width: 101px;
  background-position: 0 0 !important;
}
.internet-magazin:before{
  width: 107px;
  background-position: -101px -1px !important;
}
.services-desc-text{
  margin: 28px 0 27px;
  font-family: 'Helvetica-4-Light';
  font-size: 15px;
  color:#231f20;
  text-align: left;
  letter-spacing: 0.45px;
}
.services-link-portfolio{
  margin-bottom: 4px;
}
.services-link-portfolio a{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color:#da3036;
  text-transform: uppercase;
}
.services-link-dogovor{
  margin-bottom: 28px;
}
.services-link-dogovor a{
  font-family: 'Helvetica-6-Medium';
  font-size: 14px;
  color: #272727;
}





/* скомпилировать в less */